.container {
  padding: 22px 0;
  border-top: 2px solid #dddddd;
  text-align: center;
}

.container:hover {
  background: rgba(0, 0, 0, 0.02);
  transition: all 0.4s ease-in;
}

.text {
  color: #6b6d86;
  font-size: 18px;
  font-weight: 600;
}

.primary {
  color: #4b4f62;
}

.secondary {
  color: #fff;
}
