.heading {
  color: #727391;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-top: 32px;
}

.text {
  font-weight: 600;
  color: #b1b0c0;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 34px;
  background: linear-gradient(90deg, #dcdcfc, #a8a9dd);
  display: inline-block;
  border-radius: 34px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 30px;
  width: 30px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(111, 111, 111);
  border-radius: 50%;
  transition: all 0.4s ease-in;
}

input:checked + label {
  background: linear-gradient(90deg, #c8c8f0, #737ae2);
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 88px;
}
