* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
